@keyframes busmovein {
  0% {
    opacity: 0;
    transform: translateX(-7rem); }
  50% {
    transform: translateX(7rem); }
  100% {
    opacity: 1;
    transform: translateX(14rem); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 31.25%; } }

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

.margin-top {
  margin-top: -12rem; }

.cta {
  background-color: #D3D3D3;
  grid-column: col-start 2 / col-end 6;
  text-align: center;
  text-transform: uppercase; }
  .cta-text {
    font-size: 2.5rem;
    color: #000080; }

.btn-cta {
  width: 14rem !important;
  height: 6rem !important;
  text-transform: uppercase; }
  .btn-cta:hover {
    background-color: #d4f542;
    transform: scale(1.5);
    transition: all .2s; }

.features {
  grid-column: full-start  / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 43.75em) {
    .features {
      grid-column: full-start / center-end;
      grid-gap: 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .features {
      display: flex;
      flex-direction: column;
      margin: 0; } }

.feature {
  color: #adaa8c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  grid-row-gap: 3rem; }
  .feature__img {
    width: 100%;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 31.25em) {
      .feature__img {
        width: 12rem;
        height: 12rem;
        display: block;
        opacity: 0; } }
  .feature__h {
    background-color: #000080;
    padding: 3rem 1rem;
    box-shadow: 0.5rem 1rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-row: 2 / 3;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
    border-radius: .5rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .feature__h {
        display: block;
        justify-content: center;
        align-self: flex-start;
        margin-right: -5rem; } }
    @media only screen and (max-width: 25em) {
      .feature__h {
        margin-right: 5rem; } }
    .feature__h--1 {
      transform: translateY(-4rem); }
    .feature__h--2 {
      transform: translateY(-6.5rem); }
  .feature__text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 2.5rem;
    justify-content: start;
    align-items: start; }
    @media only screen and (max-width: 31.25em) {
      .feature__text {
        display: block;
        justify-content: flex-start;
        align-self: flex-start;
        margin-bottom: -5rem;
        transform: translateY(-10rem); } }

.footer {
  background-color: #d4f542;
  grid-column: extra-start / full-end;
  padding: 3rem; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__list {
    display: flex; }
    .footer__list--item {
      list-style: none; }
      .footer__list--item:not(:last-child) {
        margin-right: 2rem; }
  .footer .item-link:link, .footer .item-link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem; }
    @media only screen and (max-width: 25em) {
      .footer .item-link:link, .footer .item-link:visited {
        font-size: 1.5rem; } }
  .footer .item-link:hover {
    color: orange; }
  .footer .copyright {
    font-size: 2.5rem; }
    @media only screen and (max-width: 25em) {
      .footer .copyright {
        font-size: 2rem; } }

.heading {
  background-image: linear-gradient(rgba(245, 191, 66, 0.7), rgba(245, 191, 66, 0.7)), url(/img/background.jpg);
  background-size: cover;
  background-position: top;
  grid-column: extra-start / full-end;
  position: relative; }
  .heading__primary {
    text-transform: uppercase; }
    .heading__primary--main {
      display: block;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 1rem; }
    .heading__primary--sub {
      display: block;
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: .5rem; }
  .heading__svg {
    width: 20rem;
    display: inline-block;
    /*animation-name: busmovein;
        animation-duration: 5s;*/
    animation: busmovein 5s .1s ease-in-out;
    transition: all;
    margin-top: 2rem; }

.textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.nav {
  background-color: #d4f542;
  grid-column: extra-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem; }
  .nav__list {
    display: flex; }
    .nav__list--items {
      list-style: none; }
      .nav__list--items:not(:last-child) {
        margin-right: 2rem; }
  .nav__button {
    padding-right: 3rem; }
  .nav .btn-1:hover {
    background-color: #f2f542; }
  .nav .btn-2:hover {
    background-color: #f5bf42; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem; }
  .nav__link:hover {
    color: orange; }

.btn {
  margin: 2rem 2rem 2rem 0;
  width: 10rem;
  height: 4.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-family: inherit;
  border-radius: 4rem;
  border-style: none;
  cursor: pointer;
  box-shadow: 0.5rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
  transition: all .2s; }
  .btn:active {
    transform: translateY(0.5rem);
    box-shadow: 0.25rem 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.1); }

.story {
  grid-row: 5 / 6;
  grid-column: center-start  / col-end 7;
  margin: 4rem;
  text-align: center;
  /*&__img {
        height: 12rem;
        width: 12rem;
    }*/
  /*&__caption {
       position: absolute; 
       top: 50%;
       left: 50%;
       transform: translate(-50%, 20%); 
       color: $color-grey-dark;
       text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .2s;

        
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
    }

    &:hover &__img {
        filter: blur(3px) brightness(60%);
    }*/ }
  .story__set {
    display: flex;
    /*display: grid;
        grid-template-columns: repeat(auto-fill, 10rem);
        grid-template-rows: repeat(3, 1fr);*/
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: all .5s;
    margin-bottom: 8rem;
    /*&--2 {
            grid-row: 2 / 3;
        }*/ }
    .story__set--img {
      height: 12rem;
      width: 12rem; }
    .story__set--caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all .2s; }
    .story__set:hover .story__set--caption {
      opacity: 1;
      transform: translate(-50%, -50%);
      backface-visibility: hidden; }
    .story__set:hover .story__set--img {
      filter: blur(3px) brightness(60%); }
  .story-text {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #000080; }
  .story__text {
    color: #adaa8c;
    font-size: 2rem;
    margin-left: 4rem; }
  .story__shape {
    width: 30rem;
    height: 12rem;
    position: relative; }
    @media only screen and (max-width: 25em) {
      .story__shape {
        text-align: center;
        transform: translateY(2.5rem); } }

.btn-story {
  width: 14rem !important;
  height: 6rem !important;
  text-align: center; }
  .btn-story:hover {
    background-color: #f5bf42; }

.container {
  display: grid;
  grid-template-rows: min-content 80vh minmax(40vh, 1fr) repeat(3, min-content);
  grid-template-columns: [extra-start] 6rem [extra-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
