$color-primary: #f5bf42;
$color-secondary: #f2f542;
$color-tertiary: #d4f542;

$color-grey-dark: #fff;
$color-grey-light: #D3D3D3;

$color-hover: #adaa8c;
$color-black: #000;

$color-navy: #000080;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;

// MARGINS
$margin-little: .5rem;
$margin-small: 2rem;
$margin-mid: 4rem;

// BOX SHADOW
$box-shadow: .5rem 1rem 1rem .1rem rgba($color-black, .1);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px div by 16px
$bp-large: 56.25em; //900px div by 16px
$bp-mid: 43.75em; //700px div by 16px
$bp-small: 31.25em; //500px div 16px
$bp-smallest: 25em; //400px div 16px